name: test

on:
  workflow_call:
    inputs:
      go_version:
        description: 'Go version to use'
        type: string
        required: true
      max_vuln_severity:
        description: 'Maximum vulnerability severity to allow'
        type: string
        required: true

permissions:
  contents: read

jobs:

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write 
    steps:

    - name: Checkout Code
      uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9  # v3.5.3

    - name: Setup Go
      uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753  # v4.0.1
      with:
        go-version: ${{ inputs.go_version }}
    
    - name: Cache Modules
      uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8  # v3.3.1
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    
    - name: Tidy Modules
      run: |
        go mod tidy
        go mod vendor

    - name: Config Lint
      id: golangci_config
      uses: andstor/file-existence-action@20b4d2e596410855db8f9ca21e96fbe18e12930b  # v2.0.0
      with:
        files: .golangci.yaml

    - name: Lint Code
      if: steps.golangci_config.outputs.files_exists == 'true'
      uses: golangci/golangci-lint-action@639cd343e1d3b897ff35927a75193d57cfcba299  # v3.6.0
      with:
        version: latest

    - name: Unit Test
      run: |
        go test -short -count=1 -race -covermode=atomic -coverprofile=cover.out ./...

    - name: Scan Repo
      uses: aquasecurity/trivy-action@41f05d9ecffa2ed3f1580af306000f734b733e54  # v0.11.2
      with:
        scan-type: 'fs'
        ignore-unfixed: true
        hide-progress: false
        format: 'sarif'
        output: 'trivy-results.sarif'
        severity: ${{ github.event.inputs.max_vuln_severity }}
        exit-code: '1'

